label {
    margin: 0rem 0.3rem;
}
body {
    overflow-x: hidden;
}
#prime_div {
    float: left;
    box-shadow: black 0px 9px 27px 0px;
    width: 18rem;
    text-align: center;
    height: 20rem;
    position: relative;
    left: 5vw;
    margin-left: 5rem;
}
#bang_div {
    float: left;
    box-shadow: black 0px 9px 27px 0px;
    width: 18rem;
    text-align: center;
    height: 20rem;
    position: relative;
    left: 5vw;
}
@media (max-width: 962px) {
    #prime_div, #bang_div {
        float: none;
    }
    #prime_div {
        margin-top: 20px;
        margin-left: 0rem;
    }
    #total {
        position: relative;
        left: -27vw;
    }
}
