label {
    margin: 0 0.3rem;
  }
  
  body {
    overflow-x: hidden;
  }
  
  #prime_div {
    float: left;
    box-shadow: black 0px 9px 27px 0px;
    width: 18rem;
    text-align: center;
    height: 20rem;
    position: relative;
    left: 5vw;
    margin-left: 5rem;
  }
  
  #bang_div {
    float: left;
    box-shadow: black 0px 9px 27px 0px;
    width: 18rem;
    text-align: center;
    height: 20rem;
    position: relative;
    left: 5vw;
  }
  
  @media (max-width: 962px) {
    #prime_div,
    #bang_div {
      float: none;
    }
    #prime_div {
      margin-top: 20px;
      margin-left: 0;
    }
    #total {
      text-align: center;
    }
    .submit {
      width: 20rem;
      height: 4rem;
      position: absolute;
      top: 120%;
      left: 10%;
      transform: translateX(-50%);
      background-color: orange;
      font-size: 1.9rem;
      font-weight: 700;
      border: none;
      border-radius: 0.5rem;
    }
  }
  
  #submit {
    width: 20rem;
    height: 4rem;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: orange;
    font-size: 1.9rem;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
  }
  